# Terraform
**/.terraform/*
backend.tf
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.tfstate.lock.info

# OS / editor noise
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
