terraform {
  backend "s3" {
    bucket       = "replace-with-your-terraform-state-bucket"
    key          = "w8/k8s-project/terraform.tfstate"
    region       = "ap-southeast-1"
    encrypt      = true
    use_lockfile = true
  }
}
